.Size-Chart{
	background-color:indianred;
	border:2px solid black;
	border-collapse:collapse;
	align-items:left;
}
th{
	color:white;
	width:1%;
	border:2px solid black;
	text-align:left;
}
td{
	border:2px solid black;
}
.con{
	text-align:right;
}